.writeTitle {
  position: relative;
  top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

#titleInput {
  width: 600px;
  height: 50px;

  position: relative;
  left: 100px;
  top: 100px;

  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;

  outline: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
}

#done {
  position: relative;
  top: 200px;
  right: 255px;
  width: 100px;
  height: 50px;
  outline: none;
  font-size: 24px;
  text-align: center;
  background-color: transparent;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.75);
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin-top: 20px;
  margin-left: 20px;
  color: #fce5d2;
}

.date {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  padding-right: 20px;

  color: #ec5e57;
}

.smallHorizontalLine {
  height: 5px;
  background: linear-gradient(90deg, #f2c94c 0%, #eb5757 100%);
}

.itemList {
  height: 310px;
  background-color: transparent;
  padding: 20px;
  overflow-y: scroll;
}

.eachItem {
  background-color: transparent;
  display: flex;
  margin: 2px 0px;
}

.eachItem:hover .deleteLogo {
  visibility: visible;
}

.eachItem:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.cardUntick {
  margin: 3px;
  height: 24px;
  width: 24px;
  background-image: url('../images/untick.svg');
}

.cardTick {
  height: 18px;
  width: 18px;
  margin: 3px;
  background-image: url('../images/tick.svg');
}

.notVisible {
  visibility: hidden;
}

.itemName {
  width: 690px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.75);

  align-self: center;
  outline: none;
  background-color: transparent;
  border: none;
  height: 26px;
  overflow-y: hidden;
}

.deleteLogo {
  width: 20px;
  background: url('../images/trash-alt-solid.svg') no-repeat center;
  visibility: hidden;
  cursor: pointer;
  height: 20px;
  margin-top: 7px;
}

.inputEnable {
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

.itemInput {
  background-color: transparent;
  border: none;
  width: 750px;
  font-size: 24px;
  outline: none;
  cursor: inherit;
  color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid white;
  padding: 5px;
  padding-right: 0px;
}

.closeButton {
  position: relative;
  left: 700px;
  width: 80px;
  font-size: 24px;
  outline: none;
  border-radius: 8px;
  background: transparent;
  color: rgba(255, 255, 255, 0.75);
  border: none;
  transition: 200ms ease-in-out;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
